/* Eu posso aplicar o estilo especificando em qual classe ele
    vai ser aplicado com '.' e o nome da classe */
.div-pai {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    background-color: greenyellow;
}
.div-maneira {
    background-color: red;
    /* padding: margem entre o elemento e sua própria borda */
    padding: 2px 2px;
    /* margin: espaço entre a borda do elemento o que tem fora dele*/
    margin: 4px 4px;
    /* borda do elemento, nesse caso dashed é tracejado */
    border: 2px dashed darkgreen;
}