    /* Isso é um comentário */

/* Aqui eu coloco o código css como se fosse dentro da tag style */
.div1 {
    color: red;
    background-color: blue;
}
.div2 {
    color: blue;
    background-color: green;
}
.div3 {
    color: green;
    background-color: red;
}